.section-five-paragraph{
    font-size: clamp(20px, 3vw, 39.6px) ;
    font-weight: 700 ;
    line-height: clamp(24px, 3vw, 48px) ;
    width:  70% ;
}
@media (max-width:767px) {
    .section-five-paragraph{
        text-align: center;
    }
}