body,
html,
*{
    font-family: Almarai, sans-serif;
}
.section-heading{
    font-size:clamp(40px, 6vw, 76px); 
    font-weight:700; 
    line-height: 1.2;
}
.section-pargraph{
    /* width: 600px; */
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}
.section button{
    background-color: #F8B517;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin-bottom: 40px;
}
.section{
    padding-left: 150px;
}


@media (max-width:767px ) {
    .section{
        padding-left: 20px;
        padding-top: 10px;
    }
}